---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1>ホーム</h1>
	<p>これはホームページです。以下のデモページにアクセスしてください。</p>
	<ul>
		<li><a href="/mpa-demo">MPAデモ</a></li>
		<li><a href="/spa-demo">SPAデモ</a></li>
	</ul>
</Layout>

